@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Roboto&display=swap');
:root {
    --danger: #da373c;
    --danger-hover: #a12828;
    --danger-disabled: #85353a;
    --primary: #5865f2;
    --primary-hover: #4752c5;
    --primary-disabled: #434a93;
    --success: #248046;
    --success-hover: #1a6334;
    --success-disabled: #29583d;
    --background: #323338;
    --background-embed: #2c2d31;
    --every-text-color: #d4d4d3;
    --button-text-color: #e4eeff;
    --text-opacity: #8f9099;
}
body {
    background-color: var(--background);
}
button {
    background-color: var(--primary);
    height: 34px;
    width: 73px;
    border: none;
    color: var(--button-text-color);
    border-radius: 3px;
    font-weight: 600;
    transition: 0.4s;
    margin-left: 10px;
    text-align: center;
}
button:hover {
    background-color: var(--primary-hover);
    cursor: pointer;
    transition: 0.3s;
}
button + button {
    margin-left: 10px;
    margin-top: 10px;
}
.maincontainer {
    color: var(--every-text-color);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-embed);
    width: 480px;
    height: 480px;
    border-left: 4px solid var(--primary);
    border-radius: 3px;
}
span {
    color: var(--text-opacity);
}
span + span {
    margin-left: 74px;
}
.container {
    margin-left: 33.5px;
}
.index2 {
    margin-left: 5px
}
h3 {
    margin-top: 15px;
    display: inline-block;
    margin-left: 20px;
}
.center {
    text-align: center;
}
.danger {
    background-color: var(--danger)
}
.danger:hover {
    background-color: var(--danger-hover)
}
div + div {
    margin-top: 20px;
}
.secondarycontainer {
    height: 30px;
    width: 300px;
    display: inline-block;
    text-align: center;
    justify-content: center;
    color: var(--every-text-color);
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-embed);
    border-left: 4px solid var(--primary);
    border-radius: 3px;
}
.pions {
    margin-left: 20px;
    display: inline-block;
}
code {
    font-size:large;
}
.success {
    background-color: var(--success)
}
.success:hover {
    background-color: var(--success-hover)
}
@media screen and (max-width: 492px) {
    .index2 {
        display: none;
    }
    .container {
        display: none;
    }
    .maincontainer {
        width: 424px;
        height: 475px;
    }
    button {
        width: 67px;
    }
}
